<header class="site-header">
  <div class="container">
    <a class="brand" href="#">
      <img class="logo" src="../image/sdc1 (1).png" alt="Skykeen Events">
    </a>

<button id="hamburgerBtn" class="hamburger">☰</button>

    <nav class="nav" id="navMenu">


      <a href="../project/index.html">Home</a>
      <a href="../project/about.html">About</a>
      <a href="../project/services.html">Services</a>
      <a href="../project/portfolio.html">Portfolio</a>
      <a href="../project/contact.html">Contact</a>
<a class="btn-nav" href="#" id="openPopup">Get Started</a>
    </nav>
  </div>
</header>
